

body{
    /*stlyle full body*/
    height: auto;
    width: 1160px;
    display: grid;
    place-content: center;
    grid-template-areas: 
    'header header header'
    'title title title'
    'nav content content'
    'footer footer footer';
    grid-template-columns: 2fr 4fr 1fr;
     
    grid-template-rows:200px 60px 1fr 100px;
    margin: auto;
    
    

}   
 /*style colour full boddy*/
header,
nav,
main,
aside,
footer{
    color: white;
    padding: 20px;
}
/*style headdey contect*/

header{
    /*style headdey contect*/
    grid-area:header;
    background-color: #782221 ;
    display: grid;
    justify-items: center;
   
   
    


}

aside{
    /*style aside en détais*/
    grid-area: nav;
    background-color: #782221 ;
    padding-left: 0%;

   
   
    
    
   
    
}

main{
    /*style main body expériances proffessionnels*/
    grid-area: content;
    background-color: white;
    border-RIGHT: 5PX;
    color: black;
    justify-content: space-around;
    border-right: 4px black solid;
    
}

nav{
    grid-area: title;
    background-color:#2c1d27 ;
    
  
   
    
    
}    

footer{
    /*style footer*/
    grid-area: footer;
    background-color: #782221 ;
   
}


header a{
    /*style header*/
    display: grid;
    justify-items: center;
}


 /*style contect personnel*/   
.underline{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: white;  

}

.underline:hover{
     
}


   
    
 /*style contect personnel*/   
.underline{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: white;  

}

.underline:hover{
     
}


   
/*style headdings*/
aside h3{
background-color: #dbc2a4;
color: black;
display: flex;

}
/*style headding main*/
main div h3{
    display: flex;
    color: black;
    background-color: #dbc2a4;
    border-left: #782221 30px solid;
    padding-left: 30px;
    
    
    
   
    
}
  
aside li{
    /*style langue secteur*/ 
    list-style-type: disc;
}

div li{
    list-style-type: disc;
}

   

aside p{
 /*style paragraphe*/   
padding-left: 30px;

}
/*style image*/
body img{
    
    height: 80px;
}

.h4{
   background-color: #782221; 
   width: 20px;
}


footer{
    justify-content: center;
    display: grid;
    padding-bottom: 1px;
    
    
}

    
    
}



    
