
/*style linkin,twiter,GitHub*/
.fa-linkedin{
    color: white;
    background-color: rgba(32, 90, 157, 0.979);
    font-size: 24px;
    border-radius: 4px;
    padding-left: 4px;
    padding-top: 3.5px;
    padding-right: 4px;
    height: 27px;
    cursor: pointer;


}

.fa-linkedin:hover{
    color: rgba(32, 90, 157, 0.979);
    background-color: white;
    opacity: 0.8;
}

.fa-twitter{
    color: white;
    background-color: rgba(70, 114, 218, 0.979);
    font-size: 24px;
    border-radius: 4px;
    padding-left: 4px;
    padding-top: 3.5px;
    padding-right: 4px;
    
    height: 27px;
    cursor: pointer;
    
    


}

.fa-twitter:hover{
    opacity: 0.8;
    background-color:white;
    color: rgba(70, 114, 218, 0.979);
}
    


.fa-github{
    background-color: black;
    color: white;
    font-size: 24px;
    border-radius: 4px;
    padding-left: 4px;
    padding-top: 3.5px;
    padding-right: 4px;
    height: 27px;
    cursor: pointer;
   
    
}

.fa-github:hover{
color:black;
background-color: white;
opacity: 0.8;
}

.pic{
    /*décoration image*/
    border-radius: 50%;
    cursor: zoom-out;
}

.pic:hover{
    zoom: 100%;

}


.pad{
    display: flex;
    border-right: hidden 5px white;

}


.job{
    display: flex;
    margin-top: 0%;
}
